URL=
UPSTREAM_BASEURL=https://galaxy.ansible.com
DEBUG=false
EXTERNAL_PORT=80
QUERY_CACHE_EXPIRE=1
ARTIFACT_CACHE_EXPIRE=30
TRUSTED_PROXIES=
GALAXY_API_TOKEN=
CLEAR_CACHE_ON_START=0
MEM_CACHE_SIZE=2000
HTTP_PROXY=